<template>
  <v-card>
    <v-card-title>
      Covid Tracking Areas
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      dense
      v-model="selected"
      :headers="headers"
      item-key="id"
      :items="counties"
      :items-per-page="15"
      :show-select="true"
      :search="search"
      :loading="loading"
      class="elevation-1"
    ></v-data-table>
  </v-card>
</template>

<script>
export default {
  name: "CountyGrid",
  computed: {
    counties() {
      return this.$store.state.counties;
    },
    loading() {
      return this.$store.state.loading;
    },
    selected: {
      get() {
        return this.$store.state.selected;
      },
      set(selected) {
        this.$store.commit("setSelected", selected);
      },
    },
  },
  data() {
    return {
      search: "",
      headers: [
        { text: "State", value: "stateName" },
        { text: "County", value: "name" },
        { text: "Population", value: "population", filterable: false },
        { text: "Density(pop/sq. mi)", value: "density", filterable: false },
        { text: "Cases", value: "Positives", filterable: false },
        {
          text: "Cases per 10k",
          value: "PositivesPer10k",
          filterable: false,
        },
        { text: "Deaths", value: "Deaths", filterable: false },
        {
          text: "Deaths per 10k",
          value: "DeathsPer10k",
          filterable: false,
        },
        { text: "Avg Cases", value: "Avg7DayCases", filterable: false },
        {
          text: "Avg Cases per 10k",
          value: "Avg7DayCasesPer10k",
          filterable: false,
        },
        { text: "Weekly Deaths", value: "SevenDayDeaths", filterable: false },
        {
          text: "Weekly Deaths per 10k",
          value: "SevenDayDeathsPer10k",
          filterable: false,
        },
      ],
      rowsperpageitems: [10, 20, 30, 40, 50],
    };
  },
};
</script>
