<template>
  <v-container>
    <v-row>
      <v-col>
        <v-select
          v-model="selectedX"
          :items="plotables"
          label="Plot Variable"
          :return-object="true"
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <highcharts :options="chartOptions" :constructor-type="'mapChart'"></highcharts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Highcharts from "highcharts";
import stats from "./../utils/stats";

export default {
  computed: {
    chartOptions() {
      return {
        chart: {
          borderWidth: 1,
          marginRight: 20, // for the legend
        },

        title: {
          text: "US Counties " + this.selectedX.text,
        },

        legend: {
          layout: "vertical",
          align: "right",
          floating: true,
          backgroundColor:
            // theme
            (Highcharts.defaultOptions &&
              Highcharts.defaultOptions.legend &&
              Highcharts.defaultOptions.legend.backgroundColor) ||
            "rgba(255, 255, 255, 0.85)",
        },

        mapNavigation: {
          enabled: true,
        },

        colorAxis: this.range,

        plotOptions: {
          mapline: {
            showInLegend: false,
            enableMouseTracking: false,
          },
        },

        series: [
          {
            mapData: this.countiesMap,
            data: this.selectedData,
            joinBy: ["fips", "code"],
            name: this.selectedX.text,
            borderWidth: 0.5,
            states: {
              hover: {
                color: "#a4edba",
              },
            },
            shadow: false,
          },
          {
            type: "mapline",
            name: "State borders",
            data: this.borderLines,
            color: "white",
            shadow: false,
          },
          {
            type: "mapline",
            name: "Separator",
            data: this.separatorLines,
            color: "gray",
            shadow: false,
          },
        ],
      };
    },
    selected() {
      return this.$store.state.selected;
    },
    selectedData() {
      let data = [];
      this.$store.state.counties.forEach((county) => {
        data.push({ code: county.id, value: county[this.selectedX.value] });
      });
      return data;
    },
    range() {
      return {
        min: this.min,
        max: this.max,
        stops: this.stops,
      };
    },
    stops() {
      const min = this.min;
      const max = this.max;
      if (min < 0)
        return [
          [0, "#3060cf"],
          [(0.0 - min) / (max - min), "#f0f0f0"],
          [1.0, "#c4463a"],
        ];
      else
        return [
          [0, "#f0f0f0"],
          [1.0, "#c4463a"],
        ];
    },
    min() {
      const midRange = stats.mean(this.selectedData, "value");
      const stdDev = stats.stdDev(this.selectedData, "value");
      return Math.max(
        stats.min(this.selectedData, "value"),
        midRange - 2 * stdDev
      );
    },
    max() {
      const midRange = stats.mean(this.selectedData, "value");
      const stdDev = stats.stdDev(this.selectedData, "value");
      return Math.min(
        stats.max(this.selectedData, "value"),
        midRange + 2 * stdDev
      );
    },
  },
  data() {
    return {
      plotables: [
        { text: "Population", value: "population" },
        { text: "Density(pop/sq. mi)", value: "density" },
        { text: "Cases", value: "Positives" },
        {
          text: "Cases per 10k",
          value: "PositivesPer10k",
        },
        { text: "Deaths", value: "Deaths" },
        {
          text: "Deaths per 10k",
          value: "DeathsPer10k",
        },
        { text: "Avg Cases", value: "Avg7DayCases" },
        {
          text: "Avg Cases per 10k",
          value: "Avg7DayCasesPer10k",
        },
        { text: "Weekly Deaths", value: "SevenDayDeaths" },
        {
          text: "Weekly Deaths per 10k",
          value: "SevenDayDeathsPer10k",
        },
        {
          text: "Change in case count",
          value: "PercentChange7DayCases",
        },
      ],
      selectedX: { text: "Avg Cases", value: "Avg7DayCases" },
      countyMap: null,
      borderLines: null,
      separatorLines: null,
    };
  },
  created() {
    this.countiesMap = Highcharts.geojson(Highcharts.maps["myMapName"]);
    // Extract the line paths from the GeoJSON
    let lines = Highcharts.geojson(Highcharts.maps["myMapName"], "mapline");
    // Filter out the state borders and separator lines, we want these
    // in separate series
    this.borderLines = lines.filter((l) => {
      return l.properties["hc-group"] === "__border_lines__";
    });
    this.separatorLines = lines.filter((l) => {
      return l.properties["hc-group"] === "__separator_lines__";
    });
  },
};
</script>
