<template>
  <v-container>
    <v-row>
      <v-col>
        <v-select v-model="selectedX" :items="plotables" label="X Variable" :return-object="true"></v-select>
      </v-col>
      <v-col>
        <v-select v-model="selectedY" :items="plotables" label="Y Variable" :return-object="true"></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <highcharts :options="chartOptions"></highcharts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
//import Highcharts from "highcharts";

export default {
  computed: {
    chartOptions() {
      return {
        chart: {
          type: "scatter",
          zoomType: "xy"
        },
        title: {
          text: "County Time History"
        },
        yAxis: {
          title: {
            text: this.selectedY.text
          }
        },
        xAxis: {
          title: {
            text: this.selectedX.text
          }
        },
        series: [this.allSeries, this.selectedSeries],
        tooltip: {
          formatter: function() {
            return (
              '<span style="font-size: 10px"> ' +
              this.point.name +
              '</span><br/><span style="font-size: 10px">x: ' +
              this.point.x +
              '</span><br/><span style="font-size: 10px">y: ' +
              this.point.y +
              "</span><br/>"
            );
          }
        }
      };
    },
    selected() {
      return this.$store.state.selected;
    },
    allSeries() {
      let tempData = [];
      this.$store.state.counties.forEach(element => {
        tempData.push([
          element[this.selectedX.value],
          element[this.selectedY.value]
        ]);
      });
      return {
        name: "all",
        enableMouseTracking: false,
        data: tempData
      };
    },
    selectedSeries() {
      let selectedData = [];
      this.$store.state.selected.forEach(element => {
        selectedData.push({
          name: element.name + ", " + element.stateName,
          x: element[this.selectedX.value],
          y: element[this.selectedY.value]
        });
      });

      return {
        name: "selected",
        data: selectedData
      };
    }
  },
  data() {
    return {
      plotables: [
        { text: "Population", value: "population" },
        { text: "Density(pop/sq. mi)", value: "density" },
        { text: "Cases", value: "Positives" },
        {
          text: "Cases per 10k",
          value: "PositivesPer10k"
        },
        { text: "Deaths", value: "Deaths" },
        {
          text: "Deaths per 10k",
          value: "DeathsPer10k"
        },
        { text: "Avg Cases", value: "Avg7DayCases" },
        {
          text: "Avg Cases per 10k",
          value: "Avg7DayCasesPer10k"
        },
        { text: "Weekly Deaths", value: "SevenDayDeaths" },
        {
          text: "Weekly Deaths per 10k",
          value: "SevenDayDeathsPer10k"
        }
      ],
      selectedX: { text: "Density(pop/sq. mi)", value: "density" },
      selectedY: { text: "Cases per 10k", value: "PositivesPer10k" }
    };
  }
};
</script>
