<template>
  <v-container>
    <v-row>
      <v-col>
        <v-select
          v-model="selectedPlot"
          :items="plotables"
          label="Plot Variable"
          :return-object="true"
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <highcharts :options="chartOptions"></highcharts>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Highcharts from "highcharts";

export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    plotdata: {
      type: Array
    }
  },
  computed: {
    chartOptions() {
      return {
        title: {
          text: this.title
        },
        yAxis: {
          title: {
            text: this.selectedPlot.text
          }
        },
        series: this.chartSeries,
        xAxis: {
          type: "datetime",
          labels: {
            formatter: function() {
              return Highcharts.dateFormat("%b/%e/%Y", this.value);
            }
          }
        }
      };
    },
    chartSeries() {
      let series = [];
      if (this.plotdata == null || this.plotdata.length == 0) return series;

      this.plotdata.forEach(county => {
        const yData = county[this.selectedPlot.value];
        let dataSeries = [];
        for (let i = 0; i < yData.length; i++) {
          dataSeries.push(yData[i]);
        }

        series.push({
          name: county.name,
          data: dataSeries // sample data
        });
      });
      return series;
    }
  },
  data() {
    return {
      plotables: [
        { text: "Cases", value: "PositiveHist" },
        {
          text: "Cases per 10k",
          value: "PositiveHistPer10k"
        },
        { text: "Avg Cases", value: "Avg7DayCaseHist" },
        {
          text: "Avg Cases per 10k",
          value: "Avg7DayCaseHistPer10k"
        },
        { text: "Deaths", value: "DeathHist" },
        {
          text: "Deaths per 10k",
          value: "DeathHistPer10k"
        },
        { text: "Weekly Deaths", value: "SevenDayDeathHist" },
        {
          text: "Weekly Deaths per 10k",
          value: "SevenDayDeathHistPer10k"
        }
      ],
      selectedPlot: { text: "Cases", value: "PositiveHist" }
    };
  }
};
</script>
