<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <h2 class="display-2 font-weight-bold mb-3">Covid Plotter</h2>
      </div>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-content>
      <v-container fluid>
        <v-layout>
          <v-row>
            <v-col>
              <CountyGrid />
            </v-col>
          </v-row>
        </v-layout>
        <v-layout>
          <v-row>
            <v-col>
              <v-tabs>
                <v-tab>Time History</v-tab>
                <v-tab>Scatter Plot</v-tab>
                <v-tab>County Map</v-tab>
                <v-tab>US vs NYC Area</v-tab>
                <v-tab-item>
                  <TimePlot title="County Time History" v-bind:plotdata="selected" />
                </v-tab-item>
                <v-tab-item>
                  <ScatterPlot />
                </v-tab-item>
                <v-tab-item>
                  <Map />
                </v-tab-item>
                <v-tab-item>
                  <TimePlot title="US vs NYC Area" v-bind:plotdata="USvsNYC" />
                </v-tab-item>
              </v-tabs>
            </v-col>
          </v-row>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import CountyGrid from "./components/CountyGrid";
import TimePlot from "./components/TimePlot";
import ScatterPlot from "./components/ScatterPlot";
import Map from "./components/Map";

export default {
  name: "App",

  components: {
    CountyGrid,
    TimePlot,
    ScatterPlot,
    Map
  },
  created() {
    this.$store.dispatch("loadCountyData");
  },
  computed: {
    selected() {
      return this.$store.state.selected;
    },
    USvsNYC() {
      return this.$store.state.USvsNY;
    }
  }
};
</script>
